@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #63474D, #AA767C, #D6A184, #FFA686, #FEC196 );

}

main{
    background-color: beige;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, rgb(48, 45, 45);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #AA767C;
    text-align: center;
    text-shadow: 1px, 1px, 0px, black;
}

h2{
    color: #D6A184;
}
p{
    text-align: justify;

}